<footer>
        <div class="icons">
                <a href="https://twitter.com/" target="_blank"><fa-icon [icon]="faTwitter" class="twitter ico"></fa-icon></a>
                <a href="https://www.instagram.com/" target="_blank"><fa-icon [icon]="faInstagram" class="instagram ico"></fa-icon></a>
                <a href="https://www.linkedin.com/" target="_blank"><fa-icon [icon]="faLinkedin" class="linkedin ico"></fa-icon></a>
        </div>
        <div class="pied">
                <img src="../../assets/caracter.png" alt="caracter du village">
        </div>
</footer>

