<section>
        <h1>au petit village</h1>
        <div class="presentation">
                <p>Bienvenue dans notre petit village, où Astérix & Obélix prennent vie à travers l'art captivant des figurines faites main.</p>
        </div>
        <div class="selecteurs">
                <div class="tri">
                        <label for="choixPrix">Choisissez un prix :</label>
                        <select id="choixPrix" name="choixPrix" [(ngModel)]="selectedSortOption" class="tri__style">
                                <option value="moincher">Moins cher</option>
                                <option value="plusCher">Plus cher</option>
                                <option value="ToutPrix">Tout les prix</option>
                        </select>
                </div>
                <div class="recherche">
                        <form class="d-flex" role="search" (ngSubmit)="onSearch()">
                          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchTerm" name="searchTerm">
                          <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                </div>
                      
        </div>
        <section>
                <h2>Nos Produits</h2>
                <div class="catalogue__cards">
                        <div *ngFor="let card of AllCard | sortByPrice: selectedSortOption" class="card" style="width: 18rem;">
                                <img [src]="card.imageUrl" class="card-img-top" alt="Astérix" id="image">
                                <div class="card-body">
                                        <h3 class="card-title">{{ card.title }}</h3>
                                        <p class="card-text">{{ card.prix }} $</p>
                                        <p class="card-text">{{ card.description }}</p>
                                        <button (click)="redirectToProduit(card)" class="btn btn-primary">{{ card.button }}</button>
                                </div>
                        </div>
                </div>
        </section>
</section>
<section class="contact">
        <h2>Formulaire de Contact</h2>
        <div class="Formulaire">
                <form class="row g-3">
                        <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">Votre Nom</label>
                        </div>
                        <div class="form-floating">
                                <input type="text" class="form-control" id="floatingPassword" placeholder="Password">
                                <label for="floatingPassword">Votre Prenom</label>
                        </div>
                        <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">Votre Mail</label>
                        </div>
                        <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                                <label for="floatingTextarea2">Laisser un commentaire</label>
                        </div>
                        <div class="col-12">
                                <button type="submit" class="btn btn-primary">Valider</button>
                        </div>
                </form>
        </div>
</section>

