<section>
        <h1>au petit village</h1>
        <div class="presentation">
                <p>Bienvenue dans notre petit village, où Astérix & Obélix prennent vie à travers l'art captivant des figurines faites main.</p>
        </div>
        <div class="selecteurs">
                <div class="recherche">
                        <p></p>
                </div>
                <div class="tri">

                </div>
        </div>
        <section>
                <h2>Nos Produits</h2>
                <div class="catalogue__cards">
                        <div class="card" style="width: 18rem;">
                                <img src="../../assets/le-camps-romain.jpg" class="card-img-top" alt="Astérix">
                                <div class="card-body">
                                        <h3 class="card-title">Card title</h3>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a routerLink="produit" class="btn btn-primary">Voir Plus</a>
                                </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                                <img src="../../assets/pixi-l-empire-du-milieu.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                        <h3 class="card-title">Card title</h3>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Voir Plus</a>
                                </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                                <img src="../../assets/figurine-de-collection-bulle-cleopatre-qu-on-serve-l-aperitif-aux-crocodiles-sacres.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                        <h3 class="card-title">Card title</h3>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Voir Plus</a>
                                </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                                <img src="../../assets/figurine-de-collection-bulle-cesar-veni-vidi-vici.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                        <h3 class="card-title">Card title</h3>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Voir Plus</a>
                                </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                                <img src="../../assets/figurine-de-collection-bulle-asterix-ca-m-enerve.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                        <h3 class="card-title">Card title</h3>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Voir Plus</a>
                                </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                                <img src="../../assets/figurine-de-collection-bulle-idefix.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                        <h3 class="card-title">Card title</h3>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Voir Plus</a>
                                </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                                <img src="../../assets/figurine-de-collection-bulle-obelix-oui-je-boude-et-alors.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                        <h3 class="card-title">Card title</h3>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Voir Plus</a>
                                </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                                <img src="../../assets/obelix-et-son-tonneau.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                        <h3 class="card-title">Card title</h3>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Voir Plus</a>
                                </div>
                        </div>
                </div>
        </section>
</section>
