<section>
        <h2>Au Petit Village</h2>
        <div class="text">
                <div class="text__position">
                        <p class="paragraph">Il était une fois, dans un petit village niché au cœur des collines, une entreprise passionnée par l'art de la création. "Au Petit Village" a vu le jour avec une vision claire : apporter la magie d'Astérix & Obélix dans chaque foyer à travers des figurines faites main.</p>
                        <p>Notre histoire commence avec l'amour pour ces deux irrésistibles Gaulois, Astérix le petit guerrier rusé et Obélix l'amoureux de menhirs. Inspirés par les aventures épiques de ces personnages légendaires, nous avons décidé de donner vie à leur univers à travers des figurines uniques et authentiques.</p>
                        <p>Chaque figurine que nous créons à "Au Petit Village" est le résultat d'un artisanat minutieux et d'une dévotion inébranlable envers l'essence même d'Astérix & Obélix. Nos artistes talentueux capturent chaque détail avec soin, de la moustache emblématique d'Astérix à la force brute d'Obélix, créant ainsi des pièces qui sont bien plus que de simples figurines, ce sont des trésors d'art.</p>
                        <p>Bienvenue dans notre petit village, où Astérix & Obélix prennent vie à travers l'art captivant des figurines faites main.</p>
                </div>
        </div>
</section>
<section>
        <h2>Nos Héros</h2>
        <div class="heros__div">
                <div class="asterix__heros">
                        <img [src]="images[0].path" alt="" srcset="">
                        <p>Asterix</p>
                </div>
                <div class="obélix__heros">
                        <img [src]="images[1].path" alt="" srcset="">
                        <p>Obélix</p>
                </div>
                <div class="asterix__heros">
                        <img [src]="images[2].path" alt="" srcset="">
                        <p>Idefix</p>
                </div>
                <div class="asterix__heros">
                        <img [src]="images[3].path" alt="" srcset="">
                        <p>Zizanie</p>
                </div>
        </div>
</section>