<section class="produit">
        <h2 class="titre">Votre Produit</h2>
        <div class="card mb-3" style="max-width: 940px;">
                <div class="row g-0">
                        <div class="col-md-4">
                                <img [src]="selectedCard?.imageUrl" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                                <div class="card-body">
                                        <h3 class="card-title">{{ selectedCard?.title}}</h3>
                                        <p class="card-text">{{ selectedCard?.prix}} $</p>
                                        <p class="card-text">{{ selectedCard?.description}}</p>
                                </div>
                        </div>
                </div>
        </div>
</section>

