<section>
        <h2>Formulaire de Contact</h2>
        <div class="Formulaire">
                <form class="row g-3">
                        <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">Votre Nom</label>
                        </div>
                        <div class="form-floating">
                                <input type="text" class="form-control" id="floatingPassword" placeholder="Password">
                                <label for="floatingPassword">Votre Prenom</label>
                        </div>
                        <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">Votre Mail</label>
                        </div>
                        <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                                <label for="floatingTextarea2">Laisser un commentaire</label>
                        </div>
                        <div class="col-12">
                                <button type="submit" class="btn btn-primary">Valider</button>
                        </div>
                </form>
        </div>
</section>
